################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/AngularProject1/FileContentIndex/1a188c2d-88c1-474f-9523-331b9d886a57.vsidx
/.vs/AngularProject1/FileContentIndex/7529a78a-8708-4d93-b5fd-676b1db3b6c9.vsidx
/.vs/AngularProject1/FileContentIndex/9a376423-1fce-4721-b3e2-d5db9011f4f2.vsidx
/.vs/AngularProject1/FileContentIndex/b226da47-7dc5-4f12-82e9-c87f7a598a2d.vsidx
/.vs/AngularProject1/FileContentIndex/e8082757-4777-421d-99a5-766fcdeb1cd4.vsidx
